.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.center {
  text-align: center;
}

.landing-page {
  margin-top: 100px;
}

.hr-md {
  width: 50%;
}

.header {
  text-align: center;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 32px;
}

p {
  line-height: 1.5;
}

img {
  display: block;
  margin: 1vw auto;
}

ul, ol {
  margin: 0 auto;
  display: block;
  text-align: left;
  padding: 0;
}

li {
  padding-left: 5%;
  line-height: 1.5;
}

hr {
  margin: 10px auto;
}